extends layout

block content
  html
  body
    div.container
      p Status Page
    h1= `Shipment status`
        
    table.table.table-striped
      tr
        th Status
        th Opis
        th Dostava
        th Datum
        th Vrijeme
        th Nešto
        th Ime
        th Telefon
        th Ulica
        th Grad
        th Broj

      each n in msg
        tr
          td= n.externalStatus
          td= n.deliveryStatus
          td= n.expressDelCom
          td= n.date
          td= n.time
          td= n.HUnumberExt
          each a in n.address.item
            td= a.name1
            td= a.telNumber
            td= a.street
            td= a.city
            td= a.postalCode
