doctype html

html
  
head
    
title= `${title}`

link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')

link(rel='stylesheet', href='/stylesheets/style.css')


body

div.container.listing-reg

h1 My Amazing App


block content
